.css-1k0i2s9-MuiPaper-root-MuiAppBar-root {
    background:#fa0 !important;
    box-shadow: none !important;
    margin-top: 10px;
}

.css-1l13ezb-MuiPaper-root-MuiAppBar-root{
    background-color: transparent !important;
    box-shadow: none !important;
    margin-top: 10px;

}

.css-ni6ovy{
    color: black;

}

.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    background-color: #444 !important;
    color: white !important;
}

.css-1da8zah{
    color: white !important;
}