.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root{
    background-color: white !important;
    border-radius: 15px !important;
}

.css-dbklhb-MuiStack-root{
    justify-content: space-between !important;
    flex-wrap: wrap;
}

.css-h93ljk-MuiTypography-root , .css-ag7rrr-MuiTypography-root{
    color: #444;
}

.css-h93ljk-MuiTypography-root span , .css-ag7rrr-MuiTypography-root span{
    color: #fa0;
}
.pray-name , .pray-date{
    font-size: 20px;
    color: #484545;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    box-shadow: 0px 3px 8px 6px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important; 
}


