
.place , .time{
    font-size: 25px;
    color: var(--color);
    
}

.date , .remain{
    font-size: 20px;
    color: #888686;
}

.main{
    position: relative;
    top: 50%;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: rgba(255, 255, 255, 0.87) !important;
}
.MuiSvgIcon-root{
    color: white !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

@media (hover: none) {

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover .MuiOutlinedInput-notchedOutline {
            border-color: white !important;
    }
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white !important;

}