:root {
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --line-height: 1.5;
    --font-weight-light: 400;

    --color: rgba(255, 255, 255, 0.87);
    --background-color: #242424;
  }
  
html{
    /* direction: rtl; */
}  
  
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: var(--font-family);
}

ul , li {
    list-style: none !important;
}

a{
    text-decoration: none !important;
}
  
.main-content {
    margin: 0 auto;
    text-align: center;
}
  

::marker{
color: transparent;
}